<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include/include :: head('关于-打印收支管理系统')"/>
</head>
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (页眉) -->
        <section class="content-header">
            <h1>
                打印收支管理系统
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-yellow">打印收支管理系统</h2>

                <div class="error-content">
                    <h3><i class="fa  text-yellow"></i>贵工程-绣4-624</h3>

                    <p>
                    <h4><a href="/"> &nbsp;&nbsp;回首页 &nbsp;&nbsp;</h4></a>或尝试使用搜索
                    </p>

                    <form class="search-form">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" placeholder="搜索">

                            <div class="input-group-btn">
                                <button type="submit" name="submit" class="btn btn-warning btn-flat"><i
                                        class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.input-group -->
                    </form>
                </div>
                <!-- /.error-content -->
            </div>
            <!-- /.error-page -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <th:block th:replace="include/footer :: footer"/>
</div>

<th:block th:include="include/include :: foot"/>

</body>
</html>