<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include/include :: head('打印年记录-荣荣打印')"/>
</head>
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

    <th:block th:replace="include/header :: header"/>

    <!-- Full Wnameth Column -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (页眉) -->
            <section class="content-header">
                <h1>
                    打印统计
                    <small>年记录</small>
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="box box-default">

                    <th:block th:replace="printf/order-box-header:: header"/>

                    <th:block th:replace="commons/commons :: msg"/>

                    <div class="box-body">
                        <table id="dataTable" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>年</th>
                                <th>份数</th>
                                <th>金额</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
    <th:block th:replace="include/footer :: footer"/>
</div>
<!-- ./wrapper -->

<th:block th:include="include/include :: foot"/>

<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script>
    var _dataTable;

    $(function () {
        var _columns = [
            {"data": "id"},
            {"data": "statsYear"},
            {"data": "printfNumber"},
            {"data": "totalAmount"},
            {"data": "updateTime"},
            {
                "data": function (row, type, val, meta) {
                    return '<a type="button"   href="/printing/tb-order-year/update/'+ row.id +'"  class="btn btn-sm btn-default" ><i class="fa  fa-refresh"></i>更新</a>&nbsp;&nbsp;&nbsp;'

                }
            }
        ];

        _dataTable = App.initDataTables("/printing/tb-order-year/page", _columns);
    });

</script>
</body>
</html>