<div class="box-header with-border" th:fragment="header">
    <a class="btn btn-app" href="/printing/tb-print-order/list">
        <i class="fa  fa-bar-chart control-label"></i> 打印记录
    </a>
    <a class="btn btn-app" href="/printing/tb-order-day">
        <i class="fa  fa-bar-chart control-label"></i> 日记录
    </a>
    <a class="btn btn-app" href="/printing/tb-order-month">
        <i class="fa  fa-bar-chart control-label"></i> 月记录
    </a>
    <a class="btn btn-app" href="/printing/tb-order-year">
        <i class="fa  fa-bar-chart control-label"></i> 年记录
    </a>
</div>