<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include/include :: head('打印月记录-荣荣打印')"/>
</head>
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

    <th:block th:replace="include/header :: header"/>

    <!-- Full Wnameth Column -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (页眉) -->
            <section class="content-header">
                <h1>
                    打印统计
                    <small>月记录</small>
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="box box-default">
                    <div class="box-header">
                        <a class="btn btn-app" href="/printing/tb-print-order/list">
                            <i class="fa  fa-bar-chart control-label"></i> 打印记录
                        </a>
                        <a class="btn btn-app" href="/printing/tb-order-day">
                            <i class="fa  fa-bar-chart control-label"></i> 日记录
                        </a>
                        <a class="btn btn-app" href="/printing/tb-order-month">
                            <i class="fa  fa-bar-chart control-label"></i> 月记录
                        </a>
                        <a class="btn btn-app" href="/printing/tb-order-year">
                            <i class="fa  fa-bar-chart control-label"></i> 年记录
                        </a>
                    </div>
                    <div class="alert alert-danger alert-dismissible"  th:if="${msg != null}"  >
                        <button type="button" class="close" data-dismiss="alert" aria-hnameden="true" >&times;</button>
                        <strong th:text="${msg}"></strong>
                    </div>
                    <div class="box-body">
                        <table id="dataTable" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>月份</th>
                                <th>份数</th>
                                <th>金额</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
    <th:block th:replace="include/footer :: footer"/>
</div>
<!-- ./wrapper -->

<th:block th:include="include/include :: foot"/>

<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>

<script>
    var _dataTable;

    $(function () {
        var _columns = [
            {"data": "id"},
            {"data": "statsMonth"},
            {"data": "printNumber"},
            {"data": "totalAmount"},
            {"data": "updateTime"},
            {
                "data": function (row, type, val, meta) {
                    return '<a type="button"   href="/printing/tb-order-month/update/'+ row.id +'"  class="btn btn-sm btn-default" ><i class="fa  fa-refresh"></i>更新</a>&nbsp;&nbsp;&nbsp;'

                }
            }
        ];

        _dataTable = App.initDataTables("/printing/tb-order-month/page", _columns);
    });

</script>
</body>
</html>