<div class="box-header with-border" th:fragment="header">
    <a class="btn btn-app" href="/printing/tb-print-order/list">
        <i class="fa  fa-bar-chart control-label"></i> 打印记录
    </a>
    <a class="btn btn-app" href="/printing/tb-order-day">
        <i class="fa  fa-bar-chart control-label"></i> 每日记录
    </a>
    <a class="btn btn-app" href="/printing/tb-order-month">
        <i class="fa  fa-bar-chart control-label"></i> 每月记录
    </a>
    <a class="btn btn-app" href="/printing/tb-order-year">
        <i class="fa  fa-bar-chart control-label"></i> 每年记录
    </a>
    <a class="btn btn-app" href="/time/day-record">
        <i class="fa  fa-pie-chart control-label"></i> 今日统计
    </a>
    <a class="btn btn-app" href="/time/month-record">
        <i class="fa  fa-pie-chart control-label"></i> 本月统计
    </a>
    <a class="btn btn-app" href="/time/year-record">
        <i class="fa  fa-pie-chart control-label"></i> 今年统计
    </a>
</div>