<div class="box-header with-border" th:fragment="header">
    <a class="btn btn-app" href="/printing/tb-account-book">
        <i class="fa fa-edit control-label"></i>账单列表
    </a>
    <a class="btn btn-app" href="/printing/tb-categories">
        <i class="fa fa-plus-square control-label"></i>类型列表
    </a>
    <a class="btn btn-app" href="/printing/tb-statistics-details/month">
        <i class="fa fa-plus-square control-label"></i>每月统计
    </a>
    <a class="btn btn-app" href="/printing/tb-statistics-details/year">
        <i class="fa fa-plus-square control-label"></i>每年统计
    </a>
</div>